default_install_hook_types:
  - pre-commit  # Make sure hooks at the pre-commit stage are enabled
  - commit-msg  # Make sure hooks at the commit-msg stage are enabled

repos:
- repo: https://github.com/compilerla/conventional-pre-commit
  rev: v4.2.0
  hooks:
    - id: conventional-pre-commit
      stages: [commit-msg]
      args: ["--verbose"]
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: check-yaml
- repo: local
  hooks:
    - id: cargo-fmt
      name: cargo fmt
      entry: cargo fmt -- --check
      language: system
      types: [rust]
      pass_filenames: false
