# cargo-deny configuration
# https://embarkstudios.github.io/cargo-deny/

[graph]
all-features = false
no-default-features = false

[advisories]
ignore = []

[licenses]
allow = [
    "MIT",
    "Apache-2.0",
    "0BSD",
    "Unlicense",
    "Zlib",
]
confidence-threshold = 0.8

[licenses.private]
ignore = false
registries = []

[bans]
multiple-versions = "warn"
wildcards = "allow"
highlight = "all"
workspace-default-features = "allow"
external-default-features = "allow"

[sources]
unknown-registry = "warn"
unknown-git = "warn"
allow-registry = ["https://github.com/rust-lang/crates.io-index"]
allow-git = []
